*{
    border: none !important;
}
body{
    width: 100%;
    height: 100%;
    margin: none;
    padding: none;
    overflow-x: hidden;
}
.logo-image-navbar{
    width: 30px;
    height: auto;
    filter: brightness(1.53) contrast(1.5);
    font-size: 20px;
    margin-left: 100px;
    z-index: 3;

}
.headings{
    display: inline-block;
    font-family: "arial";
    font-size: 24px;
  }
  
  .quote1{
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    border: 2px solid #00A4BD;
    animation: typing;
    animation-duration: 1.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
  }
  .quote2{
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    border: 2px solid #00A4BD;
    animation: typing;
    animation-delay: 2s;
    animation-duration: 1.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
  }
  .quote3{
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    border: 2px solid #00A4BD;
    animation: typing;
    animation-delay: 3s;
    animation-duration: 1.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
  }

    
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

.navbar-links{
    margin-left: 70%;
}

.carousel{
    position: relative;
    object-fit: cover;

}
.carouselimg{
    position: relative;
    object-fit: cover;
    z-index: -1;
}

.carousel-img1{
    position: relative;
    height: 600px; 
    background-image:url(https://images.pexels.com/photos/5910953/pexels-photo-5910953.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.carousel-img2{
    position: relative;
    height: 600px; 
    background-image:url(https://images.pexels.com/photos/8770732/pexels-photo-8770732.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.carousel-img3{
    position: relative;
    height: 600px; 
    background-image:url(https://images.pexels.com/photos/3873206/pexels-photo-3873206.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}
.head-cont{
    background:linear-gradient(to right, #9BFABC, transparent 80%);
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: 2;
}
.headings{
    position: absolute;
    z-index: 2;
    margin-top: 200px;
    margin-left: 150px;
}
.headings h1{
    font-size: 40px;
    font-weight: bold;
    z-index: 2;
}
.frontpage{
    height: 500px;
    border: solid red;
    position: relative;
    
}
.section1{
    z-index: -2;
}
.about-us1{
    padding-top: 15px;
    position: relative;
    height: 350px;
    z-index: 2;
}

.about-us2{
    height: 250px;
    position: relative;
    z-index: 1;
}

.box{
    position: relative;
    box-shadow: 0px 0px 10px 2px #888888;
    z-index: 3;
    border-radius: 10px;
    background-color: white;
    transform: scale(1);
}
.product-box{
    position: relative;
    box-shadow: 0px 0px 10px 2px #888888;
    z-index: 0;
    border-radius: 10px;
    background-color: white;
    height: 300px;
    width: 220px;
    padding: 50px;
    
}
.card-title{
    margin-left: 10px;
}
.card-text{
    margin-left: 10px;
}
.card-button{
    position: absolute;
    margin-left: 10px;
    margin-bottom: 10px;
    bottom: 0;
    background-color: #6ACEF7;
    border-radius: 10px;
    border: none;
    height: 30px;
    width: 100px;
}

.firstboxes{
    height: 300px;
    transform: scale(1);
}
.box:hover{
    transform: scale(0.9);
}

.section2{
    height: 500px;
    background-color: #d8ffeb;
    display: flex;
    flex-direction: column;

}

.custom-shape-divider-bottom-1717300047 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1717300047 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 215px;
    transform: rotateY(180deg);
    z-index: -1;
}

.custom-shape-divider-bottom-1717300047 .shape-fill {
    fill: #d8ffeb;
}
.hex{
    position: absolute;
    z-index: 0;
}
.hexagon1{
    position: absolute;
    margin-top: 800px;
    right: 0%;
    opacity: .2;
}
.hexagon2{
    position: absolute;
    margin-top: 50px;
    left: 0%;
    opacity: .2;
}

.captions{
    margin-top: 100px;
    z-index: 0;
}
.card-title{
    margin-top: 30px;
}
.carousel-buttons{
    width: 1000px;
}
.square-button{
    position: relative;
    height: 250px;
    z-index: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    width: 100%;
    margin-top: 50px;
}
.box-button{
    position: relative;
    background-color:white;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.custom-shape-divider-bottom-1717314319 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 3;
}

.custom-shape-divider-bottom-1717314319 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
    z-index: 3;
}

.custom-shape-divider-bottom-1717314319 .shape-fill {
    fill: #FFFFFF;
}
.footer{
    max-height: 100%;
    width: 100%;
    background-color:#E29578;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 50px;

}
inner-footer{
    width: 80%;
    justify-content: center;
}

.footer-h1{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.footer-logo{
    width: 80px;
    height: 80px;
    filter: brightness(1.53) contrast(1.5);
}
.gmaps{
    border:0; 
    border-radius:20px;
    width:300px;
    height:130px;
}
i{
    font-size: 50px;
} 
.icon{
    font-size: 50px;
    position: absolute;
    margin-top: 70px;
}

.card-color{
    width: 100%;
    text-align: right;
    color: white;
    background-color: #Ed3c5a;
}

.icolors{
    margin-top: 60px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #6ACEF7;
    position: absolute;
    z-index: -1;
}


.products{
    margin-top: 20px;
}

.ai-chatbot{
    position: fixed;
    z-index: 2;
    width: 100px;
    height: 100px;
    bottom: 2%;
    right: 1%;
}
.chatbot-circle{
    position: fixed;
    display: flex;
    border-radius: 75%;
    width: 70px;
    height: 70px;
    background-color: #Ed3c5a;
    justify-content: center;
    z-index: 6;
}
.chaticon{
    font-size: 40px;
}


#chatbox{
    position: fixed;
    bottom: 20px;
    right: 100px;
    width: 500px;
    height: 300px;
    background-color: #dc3545;
    padding: 10px;
    display: none;
    border-radius: 10px;
    z-index: 6;
}
#chat_body {
    font-family: Arial, sans-serif;
}

.chat-container {
    position: relative;
    width: 450px;
    margin: 10px auto;
    border: 1px solid #ccc;
    background-color: #fff ;
    padding: 10px;
    border-radius: 10px;
    height: 260px;
}
.chat-container h2 {
    margin-top: 0;
    color: #dc3545;
}
#chat-form{
    position: absolute;
    bottom: 25px;
    right: 0;
    width: 100%;
    margin-top: 20px;
    border: 1px solid ;
}
#chat-form button{
    border: 1px solid #ccc;
    color : white;
    background-color: #212529;
}

#chat-form input{
    width: 87%;
    color: black;
    background-color: #EE9AA2;
}

.chat-messages {
    margin-bottom: 1px;
    overflow-y: scroll;
    max-height: 150px;
}

.user-message {
    margin-bottom: 10px;
    font-weight: bold;
    color: #212529;
}

.bot-message {
    margin-bottom: 10px;
    font-style: italic;
    color: #dc3545;
}
#med_list {
    position: fixed;
    top: 13%;
    left: 13%;
    z-index: 5; /* Add this line */
    background-color: #fff;
    width: 73vw;
    height: 75vh;
    border-radius: 10px;
}
#vit_list {
    position: fixed;
    top: 13%;
    left: 13%;
    z-index: 5; /* Add this line */
    background-color: #fff;
    width: 73vw;
    height: 75vh;
    border-radius: 10px;
}
#flu_list {
    position: fixed;
    top: 13%;
    left: 13%;
    z-index: 5; /* Add this line */
    background-color: #fff;
    width: 73vw;
    height: 75vh;
    border-radius: 10px;
}
#kid_list {
    position: fixed;
    top: 13%;
    left: 13%;
    z-index: 5; /* Add this line */
    background-color: #fff;
    width: 73vw;
    height: 75vh;
    border-radius: 10px;
}
#dia_list {
    position: fixed;
    top: 13%;
    left: 13%;
    z-index: 5; /* Add this line */
    background-color: #fff;
    width: 73vw;
    height: 75vh;
    border-radius: 10px;
}

.chatbot{
    width: 100px;
    height: 100px;
}
.users{
    box-shadow: 0px 0px 10px 2px #888888;
    z-index: 2;
}

#chatbox{
    position: fixed;
    bottom: 20px;
    right: 100px;
    width: 500px;
    height: 300px;
    background-color: #dc3545;
    padding: 10px;
    display: none;
    border-radius: 10px;
    z-index: 6;
}
#chat_close{
    position: absolute;
        top: 3px;
        right: 8px;
        color: #fff;
        font-size: 20px;

}
#chat_body {
    font-family: Arial, sans-serif;
}

.chat-container {
    position: relative;
    width: 450px;
    margin: 10px auto;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    height: 260px;
}
.chat-container h2 {
    margin-top: 0;
    color: #dc3545;
}
#chat-form{
    position: absolute;
    bottom: 25px;
    right: 0;
    width: 100%;
    margin-top: 20px;
    border: 1px solid ;
}
#chat-form button{
    border: 1px solid #ccc;
    color : white;
    background-color: #212529;
}

#chat-form input{
    width: 88%;
    color: black;
    background-color: #EE9AA2;
}

.chat-messages {
    margin-bottom: 1px;
    overflow-y: scroll;
    max-height: 150px;
}

.user-message {
    margin-bottom: 10px;
    font-weight: bold;
    color: #212529;
}

.bot-message {
    margin-bottom: 10px;
    font-style: italic;
    color: #dc3545;
}
#med_list {
    position: fixed;
    top: 13%;
    left: 13%;
    z-index: 5; /* Add this line */
    background-color: #fff;
    width: 73vw;
    height: 75vh;
    border-radius: 10px;
    
}

@media only screen and (max-width: 1200px) {
    .headings{
        margin-left: 100px;
    }
    .frontpage{
        height: auto;
    }
    .about-us1{
        height: 500px;
    
    }
    .about-us2{
        height: 200px;
    }
    .footer-cont{
        height: auto;
    }
}

@media only screen and (max-width: 992px) {
    .headings{
        margin-left: 50px;
    }
    .frontpage{
        height: auto;
    }
    .about-us1{
        height: 500px;
    
    }
    .about-us2{
        height: 200px;
    }
    .section2{
        height: 500px;
    }
    .footer-cont{
       height: auto;
    }
    .footer{
        justify-content: center;
    }
    .gmaps{
        border:0; 
        border-radius:20px;
        width:200px;
        height:130px;
    }
}
@media only screen and (max-width: 768px) {
    .headings{
        margin-left: 10px;
    }
    .frontpage{
        height: auto;
    }
    .section2{
        height: 700px;
    }
    .about-us1{
        height: 500px;
    
    }
    .about-us2{
        height: 200px;
    }

    .footer {
        text-align: center;
    }
    
    .inner-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Centers the columns horizontally */
        align-items: center; /* Centers the content vertically */
    }
    .ai-chatbot{
        position: fixed;
        z-index: 2;
        width: 50px;
        height: 50px;
        bottom: 5%;
        right: 5%;
    }
    .chatbot-circle{
        display: flex;
        border-radius: 75%;
        width: 60px;
        height: 60px;
        background-color: #Ed3c5a;
        justify-content: center;
        z-index: 6;
    }
    .chaticon{
        font-size: 35px;
        z-index: 6;
    }
    
    .footer-header, .footer-maps, .footer-contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
    
    .footer-logo {
        max-width: 100%;
        height: auto;
    }
    #chatbox{
        position: fixed;
        bottom: 20px;
        right: 50px;
        width: 300px;
        height: 400px;
        background-color: #dc3545;
        padding: 10px;
        display: none;
        border-radius: 10px;
        z-index: 6;
    }
    .chat-container {
        position: relative;
        width: 250px;
        height: 360px;
    }
    #chat-form{
        width: 100%;
        right: 0;
        margin-top: 20px;
       
    }
    #chat-form input{
        width: 78%;
    }
@media only screen and (max-width: 576px) {
    .firstboxes{
        height: 250px;
        margin-bottom: 30px;
    }
    .frontpage{
        height: auto;

    }
    
    .section2{
        height: 1300px;
    }
    .about-us1{
        height: 700px;
    
    }
    .about-us2{
        height: 800px;
    }
    .footer-cont{
       height: auto;
    }
    .footer{
        justify-content: center;
    }
    .quote1{
        font-size: 1px;
    }
}
@media only screen and (max-width: 430px) {
    .firstboxes{
        height: 250px;
        margin-bottom: 30px;
    }
    body{
        width: 100%;
    }
    .frontpage{
        height: auto;
        width: 100%;
    }
    
    .section2{
        height: 1300px;
    }
    .about-us1{
        height: 700px;
    
    }
    .about-us2{
        height: 800px;
    }
    .footer-cont{
       height: auto;
    }
    .footer{
        justify-content: center;
    }
    #med_list {
        left: 0;
        width: 100%;
        overflow: scroll;
    }
}
}


